.sub-button{
    background-color: red;
    color:white;
    height: 35px;
    width:9%;
    font-weight:bold;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 50px;
}
.join-button{
    background-color:white ;
    height: 35px;
    width:70px;
    border-color:blue;
    margin-right: 10px;
}
.twe-button{
    background-color: blue;
    width:75px;
    height:35px;
    color:white;
    font-weight:bold ;
    border-radius: 20px;

}